body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f7f9fc;
    color: #003366;
}

h1 {
    text-align: center;
    color: #003366;
}

.top-links {
    margin-bottom: 15px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table th {
    background-color: #003366;
    color: white;
    padding: 10px;
}

table td {
    padding: 10px;
    border: 1px solid #ddd;
}

table tr:hover {
    background-color: #e6f2ff;
}

.badge {
    display: inline-block;
    font-weight: 600;
    line-height: 1;
    margin-left: 6px;
    border-radius: 12px;
}


.badge-md {
    font-size: 10px;
    padding: 4px 12px;
}


.badge-outline {
    background: transparent;
    border: 1px groove collapse;
}


.badge-primary { background-color: #007bff; color: #fff; }
.badge-warning { background-color: #ffc107; color: #000; }
.badge-danger  { background-color: #e63946; color: #fff; }
.badge-secondary { background-color: #6c757d; color: #fff; }

.btn {
    padding: 8px 14px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 10px;
    display: inline-block;
    margin-right: 5px;
    color: white;
}


.btn:hover {
    transform: scale(1.05);
}


.btn-info {
    background-color: #4da3ff;
}
.btn-info:hover {
    background-color: #1a8cff;
}


.btn-warning {
    background-color: #ffcc00;
    color: #003366;
}
.btn-warning:hover {
    background-color: #e6b800;
}


.btn-danger {
    background-color: #e63946;
}
.btn-danger:hover {
    background-color: #cc2f3c;
}

.btn-primary {
    background-color: #003366;
    color: white;
    border: 3px groove #4da3ff;
    padding: 8px 14px;
    border-radius: 4px;
}

.btn-primary:hover {
    background-color: #0055aa;
    border-color: #003366;
}

.message{
    padding:10px;
    background:#d4edda;
    color:#155724;
    border:1px solid #c3e6cb;
    margin-bottom:15px;
}