<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DETAIL OF THE CLASS</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
    <h1 th:text="${classe.nom}"></h1>
    <hr>

    <div >
    <p><strong >Niveau :</strong><span th:text="${classe.niveau}"></span></p>
    <p><strong >Matière :</strong><span th:text="${classe.matiere}"></span></p>
    <p><strong >Nombre d'élèves :</strong><span th:text="${classe.nombreEleves}"></span></p>
    <hr>
    </div>


    <div class="Information for professeur">
        <strong >Information of Professeur : </strong>
        <a th:href="@{/professeur/{id}(id=${classe.professeur.id})}">PROFESSEUR</a>
        <hr>
        <p><strong>Nom et Prénom de Professeur: </strong><span th:text="${classe.professeur.nom+' '+classe.professeur.prenom}"></span></p>
        <p><strong>E-mail de Professeur: </strong><span th:text="${classe.professeur.email}"></span></p>
    </div>


    <div>
        <a th:href="@{/classe/{id}/modify(id=${classe.id})}"><button class="btn btn-warning">MODIFY</button></a>
        <a th:href="@{/classe/{id}/delete(id=${classe.id})}"><button class="btn btn-danger">DELETE</button></a>
        <a th:href="@{/classe/}"><button class="btn btn-info">RETOUR</button></a>
    </div>


</body>
</html>